[auth]
# Rename this file to 'config.ini' before running the script.
# Plex server URL e.g. localhost:32400
baseurl =
# https://support.plex.tv/articles/204059436-finding-an-authentication-token-x-plex-token/
token =
